body{
    height: 1000px;
    background-color: hsla(29, 90%, 70%, 0.808);
}

@media only screen and (max-width: 1000px) {
    body {
      background-color: rgb(255, 0, 0);
    }
}

#demo{
    background-color: rgba(26, 250, 213, 0.192) ;
    backdrop-filter: blur(6px);
    font-size: 30px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: inline-flex;
    position: fixed;
    padding-right: 100%;
    text-align: center;
}
#ul1{
    list-style: none;
    display: inline-flex;
    margin-left: 230px;
    font-weight: bold;
    
}
.li1{
    text-decoration: none;
    color: rgb(170, 95, 136);
    transition: 0.28s;
    margin-left: 80px;
}
#logo{
    width: 90px; 
    margin-left: 30px;                                                                             
}
.li1:hover{
   color:rgb(253, 0, 148);
}

#technoblade{
    padding-top: 20%;
    background-image: url(background.png);
    height: 40%;
    transition: 0.26s;
}
#homehead{
    font-family: "Montserrat", sans-serif;
    color: rgb(14, 14, 48);
    text-align: center;
    font-size: 23px;
    font-weight: 900;
}

#spandiv{
    margin-top: 2%;
    align-items: center;
   padding-left: 18%;
   padding-right: 18%;
}

#element{
    font-family: 'Raleway', sans-serif;
    color: rgb(207, 207, 247);
    font-size: larger;
    font-weight: 700;
}
#about{
    font-family: "Montserrat", sans-serif;
    text-align: center;
    padding: 7%;
    transition: width 2s;
}
#pofabout{
    text-align: center;
}

#pictures{
    padding-top: 10%;
}

#ss1{
    width: 40rem;
    height: 25rem;
    float: left;
    padding-bottom: 50px;
}
.phome1{
    margin-left: 43rem;
    font-family: "Montserrat", sans-serif;
    font-weight: bolder;
    font-size: 23.5px;
    color: rgb(41, 141, 255);
}

#footer{
    background-color:#333 ;
    margin-top: 50px ;
    padding-top: 80px;
    padding-bottom: 150px;
    text-decoration: none;
    text-align: center;
}
#ulfoot{
    margin-right: 9%;
    list-style: none;
    display: inline-flex;
    
}
.lifoot{
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    color: rgb(80, 231, 93);
    font-size: larger;
    margin-left: 150px;
    text-decoration: none;
    transition: 0.3s;
}
.lifoot:hover{
    color:rgb(6, 255, 27) ;
}
*{
    padding: 0px;
    margin: 0px;
}