.div1{
    display: inline-flex;
    background-color: aqua;
    text-decoration: none;
}
#ulist1{    
    display: inline-flex;
    list-style: none; 
    margin-left: 1030px;
    padding-inline: 10px;
    font-size: larger;

}
#logo{
    width: 80px;
} 
.menu{
    padding-left: 37px;
    text-decoration: none;
}
.menu:hover{
    color: rgb(225, 3, 3);
    cursor: pointer;
}
#home{
    display: inline-flex;
}
img{
    margin-top: 1rem;
    margin-right: 1rem;
}
