#demo{
    background-color: aqua;
    font-size: 20px;
}
#ul1{
    list-style: none;
    position: absolute;
    top: 0px;
    display: inline-flex;
}
.li1{
    padding-left: 120px;
    padding-right: 50px;
    text-decoration: none;
}
#logo{
    width: 100px;                                                                                      
    margin-right: 300px;                    
}
.li1:hover{
    color: red;
    cursor:pointer;
}
 