body{
    height: 1000px;
    background-color: rgb(172, 255, 255);
}
#demo{
    background-color: aqua;
    font-size: 30px;
    font-family:Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
    justify-content: space-between;
    align-items: center;
    display: flex;
    position: fixed;
    padding-right: 100%;
}
#ul1{
    list-style: none;
    display: inline-flex;
    font-weight: bold;
    margin-right: 10%;
    margin-left: 40%;
}
.li1{
    text-decoration: none;
    margin-left: 50px;
    color: rgb(236, 102, 176);
}
#logo{
    width: 100px; 
    margin-left: 10px;                                                                             
}
.li1:hover{
   
   
   color:red;
   
}
#home1{
    padding-top: 200px;
}

#ss1{
    width: 40rem;
    height: 25rem;
    float: left;
}
.phome1{
    margin-left: 43rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
    font-size: 25px;
} 
@media only screen and (max-width: 700px) {
    body {
      background-color: rgb(240, 168, 13);
    }
  }